<div class="m-3" data-controller="view-toggle">
  <div data-view-toggle-target="mapSection">
    <%= render 'map_view', markers: @markers %>
  </div>
  <div data-view-toggle-target="listSection">
    <%= render 'list_view', carers: @carers %>
  </div>
  <!--<div class="list-inline tabs-underlined">
    <p><i class="fa-solid fa-location-dot tab-underlined" data-action="click->view-toggle#showMapView"></i></p>
    <p><i class="fa-solid fa-list-ul tab-underlined" data-action="click->view-toggle#showListView"></i></p>
  </div>-->
</div>
