
.card-product {
  overflow: hidden;
  height: 120px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 8px;
}


.card-product img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-left: 10px;
  border-radius: 50%;
}


.card-product p {
  font-size: 12px;
  color: black;
  margin-bottom: 16px;
}

.card-product .card-product-infos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
}


.card-info-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.tabs-underlined {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}


.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
}


.map-view-button{
  margin-bottom: 10px;
}

.card-info-text h6 {
  color: black;
  margin-top: 15px;
  margin-bottom: 16px;
}

.avg-rating {
  height: 100%;
  position: absolute;
  right: 25px;
  padding-top: 5px;
}
