.profile-card {
  padding: 18px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.profile-avatar-info {
  display: flex;
  justify-content: space-evenly;
}

.profile-avatar-info-title {
  font-weight: 900;
  // margin-left: 10px;
}

.profile-avatar-info-text {
  font-size: 13px;
  //font-weight: 600;
  // margin-left: 10px;
}

.bio {
  margin-top: 20px;
}

#pets-cards {
  margin-top: 30px;
}

// #pet-profile-card {
//   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
//   border-radius: 8px;
//   padding: 10px;
//   height: 100px;
//   margin-top: 20px;
//   position: relative;
// }

.profile-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pet-delete-btn {
  position: absolute;
  right: 5px;
  top: 5px;
}

.request-info {
  color: black;
}

.fa-circle-plus{
  font-size: 20px;
}

.fa-pen-to-square{
  text-decoration: none;
  display: flex;
  padding-bottom: 10px;
  flex-direction: row-reverse;
  align-content: stretch;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.fa-solid{
  color: #9DC7C8;
  border: none;
  padding-right: 2px;
  padding-top: 5px;
}

.fas, .fa-edit{
  color: #9DC7C8;
  border: none;
  padding-right: 2px;
  padding-top: 5px;
}
