<% if pets.any? %>
  <% pets.each do |pet| %>
    <div id="pet-profile-card">
      <%= pet.pet_type %>: <%= pet.name %>
    </div>
  <% end %>
<% else %>
  <p> You don't have any pets yet... Please add some</p>
<% end %>
