<div class="navbar-light navbar-lewagon">
  <div class="">
    <div class="">
    </div>
    <div class="">
      <ul class="nav-items-out">
          <li><a class="nav-link" href="/carers"><i class="fa-solid fa-magnifying-glass"></i></a></li>
          <li><a class="nav-link" href="/requests"><i class="fa-regular fa-calendar-plus"></i></a></li>
          <li><a class="nav-link" href="/forums"> <i class="fa-regular fa-comments"></i></a></li>
      </ul>
    </div>
  </div>
</div>
