<div class='m-3'>
  <h3 class="request-info">Upcoming Requests</h3>
    <% if @user.carer? %> <%# carer view %>
      <% if @upcoming_requests.empty? %>
        <p>No upcoming requests.</p>
      <% else %>
        <% @upcoming_requests.each do |request| %>
          <%= render 'request_for_carer', request: request %>
        <% end %>
      <% end %>
      <br>
        <h3 class="request-info">Past Requests</h3>
        <% if @past_requests.empty? %>
          <p>No past requests.</p>
        <% else %>
          <% @past_requests.each do |request| %>
            <%= render 'request_for_carer', request: request %>
          <% end %>
        <% end %>

    <% else %> <%# user view %>
      <% if @requests.empty? %>
        <p>No upcoming requests.</p>
      <% else %>
        <% @requests.each do |request| %>
          <%= render 'request_for_pet_owner', request: request %>
        <% end %>
      <% end %>
    <% end %>
</div>
