<div class='m-3'>
  <h2>New Requests</h2>
    <%# <ul type="none"> %>
    <% if @user.carer? %> <%# carer view %>
      <% if @requests.empty? %>
            <li>No upcoming requests.</li>
        <% else %>
          <% @requests.each do |request| %>
            <%= render 'request_for_carer', request: request %>
          <% end %>
        <% end %>

    <% else %> <%# user view %>
      <% if @requests.empty? %>
        <li>No upcoming requests.</li>
      <% else %>
        <% @requests.each do |request| %>
          <%= render 'request_for_pet_owner', request: request %>
        <% end %>
      <% end %>
    <%# </ul> %>
    <% end %>
</div>
