<div id="message-<%= post.id %>">
        <small>
          <strong><%= post.user.full_name %></strong>
          <i><%= post.created_at.strftime("%a %b %e at %l:%M %p") %></i>
        </small>
        <p><%= post.content %></p>
      </div>
