.head {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: auto;
  margin-top: 10px;
  align-items: flex-start;
}


.elements-top-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.head-item{
list-style-type: none;
}


.head-brand {
  flex-grow: 0;
}


.head-brand img {
  max-width: 100%;
  max-height: 100%;
  max-width: 130px;
  object-fit: contain;
}


.head-item.dropdown {
  position: relative;
}


.dropdown-menu-end {
  right: 0;
  left: auto;
}


.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
