.main-box{
  margin-bottom: 100px;
  margin-right: 1em;
  margin-left: 1em;
}


.button-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}


.button {
  width: 120px;
  flex: 1;
  margin: 0 5px;
}


.carer-show-main-box {
  margin-top: 30px;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 100px;
}
