.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: "Raleway", sans-serif;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;

}

.mapboxgl-popup-content p{
  color: black;
  line-height: 0.2px;
}
