.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: "Raleway", sans-serif;
  width: 200px;
  border-radius: 8px;
}

.mapboxgl-popup-content p {
  color: black;
}

.map-carers{
  margin-bottom: 10px;
}

.avg-rating-map{
  position: absolute;
  right: 25px;
  top: 10px;
}

.wrapping-map {
  margin-bottom: 100px;
}


.review-card-map {
  overflow: hidden;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 8px;
  position: relative;
}

.review-card-info-map {
  padding-left: 5px;
}

.review-card-info-map p {
  margin: 0px;
}
