.pet-profile-card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 10px;
  height: 100px;
  margin-top: 20px;
  position: relative;
  display: flex;
}

.pet-profile-card-info p {
  margin: 0px;
}
